In [2]:
import pandas as pd
import sqlite3 as sql

In [3]:
con = sql.connect('../input/sql-murder-mystery-database/sql-murder-mystery.db')

In [5]:
pd.set_option('display.max_colwidth', None)
# #running our query
# pd.read_sql_query(query_1, con)

In [8]:
query_1 = '''
SELECT *
FROM crime_scene_report
'''

In [10]:
val = pd.read_sql_query(query_1, con)

In [14]:
val.sample()

,date,type,description,city
716,20171009,bribery,‘And what are they made of?’ Alice asked in a tone of great curiosity.\n,Waterloo

In [15]:
val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1228 entries, 0 to 1227
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1228 non-null   int64
 1   type         1228 non-null   object
 2   description  1228 non-null   object
 3   city         1228 non-null   object
dtypes: int64(1), object(3)
memory usage: 38.5+ KB