In [4]:
import pandas as pd
import numpy as np


from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [46]:
data = pd.read_csv('../input/world-university-rankings/cwurData.csv')

In [47]:
data

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,996,University of the Algarve,Portugal,7,367,567,218,926,845,812,969.0,816,44.03,2015
2196,997,Alexandria University,Egypt,4,236,566,218,997,908,645,981.0,871,44.03,2015
2197,998,Federal University of Ceará,Brazil,18,367,549,218,830,823,812,975.0,824,44.03,2015
2198,999,University of A Coruña,Spain,40,367,567,218,886,974,812,975.0,651,44.02,2015
2199,1000,China Pharmaceutical University,China,83,367,567,218,861,991,812,981.0,547,44.02,2015

In [48]:
data.drop('institution' ,axis = 1 , inplace = True)

In [49]:
data.drop('year' ,axis = 1 , inplace = True)

In [50]:
data

,world_rank,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score
0,1,USA,1,7,9,1,1,1,1,NaN,5,100.00
1,2,USA,2,9,17,3,12,4,4,NaN,1,91.67
2,3,USA,3,17,11,5,4,2,2,NaN,15,89.50
3,4,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17
4,5,USA,4,2,29,7,37,22,22,NaN,18,85.21
...,...,...,...,...,...,...,...,...,...,...,...,...
2195,996,Portugal,7,367,567,218,926,845,812,969.0,816,44.03
2196,997,Egypt,4,236,566,218,997,908,645,981.0,871,44.03
2197,998,Brazil,18,367,549,218,830,823,812,975.0,824,44.03
2198,999,Spain,40,367,567,218,886,974,812,975.0,651,44.02
2199,1000,China,83,367,567,218,861,991,812,981.0,547,44.02

In [51]:
data['broad_impact'].isnull().sum()

200

In [52]:
data['broad_impact'] = data['broad_impact'].fillna(data['broad_impact'].mean())

In [53]:
data['country'].value_counts()

USA                     573
China                   167
Japan                   159
United Kingdom          144
Germany                 115
France                  109
Italy                    96
Spain                    81
Canada                   72
South Korea              72
Australia                58
Taiwan                   46
Brazil                   36
India                    31
Netherlands              29
Switzerland              26
Sweden                   24
Austria                  24
Israel                   22
Finland                  20
Turkey                   20
Belgium                  20
Poland                   18
Iran                     16
Ireland                  16
Portugal                 14
Greece                   14
Hong Kong                12
Norway                   12
New Zealand              12
Hungary                  12
Denmark                  12
South Africa             10
Czech Republic           10
Russia                    9
Saudi Arabia              8
Egypt                     8
Chile                     8
Argentina                 7
Thailand                  6
Malaysia                  6
Singapore                 5
Colombia                  4
Mexico                    4
Slovenia                  4
Romania                   3
Lebanon                   2
Croatia                   2
Estonia                   2
Slovak Republic           2
Iceland                   2
Serbia                    2
Bulgaria                  2
Lithuania                 2
Uganda                    2
United Arab Emirates      2
Uruguay                   2
Cyprus                    2
Puerto Rico               2
Name: country, dtype: int64

In [54]:
np.sum(data.isnull())

world_rank              0
country                 0
national_rank           0
quality_of_education    0
alumni_employment       0
quality_of_faculty      0
publications            0
influence               0
citations               0
broad_impact            0
patents                 0
score                   0
dtype: int64

In [55]:
encoder = LabelEncoder()
data['country'] = encoder.fit_transform(data['country'])
country_mapping = {index : label for index , label in enumerate(encoder.classes_)}

In [56]:
country_mapping

{0: 'Argentina',
 1: 'Australia',
 2: 'Austria',
 3: 'Belgium',
 4: 'Brazil',
 5: 'Bulgaria',
 6: 'Canada',
 7: 'Chile',
 8: 'China',
 9: 'Colombia',
 10: 'Croatia',
 11: 'Cyprus',
 12: 'Czech Republic',
 13: 'Denmark',
 14: 'Egypt',
 15: 'Estonia',
 16: 'Finland',
 17: 'France',
 18: 'Germany',
 19: 'Greece',
 20: 'Hong Kong',
 21: 'Hungary',
 22: 'Iceland',
 23: 'India',
 24: 'Iran',
 25: 'Ireland',
 26: 'Israel',
 27: 'Italy',
 28: 'Japan',
 29: 'Lebanon',
 30: 'Lithuania',
 31: 'Malaysia',
 32: 'Mexico',
 33: 'Netherlands',
 34: 'New Zealand',
 35: 'Norway',
 36: 'Poland',
 37: 'Portugal',
 38: 'Puerto Rico',
 39: 'Romania',
 40: 'Russia',
 41: 'Saudi Arabia',
 42: 'Serbia',
 43: 'Singapore',
 44: 'Slovak Republic',
 45: 'Slovenia',
 46: 'South Africa',
 47: 'South Korea',
 48: 'Spain',
 49: 'Sweden',
 50: 'Switzerland',
 51: 'Taiwan',
 52: 'Thailand',
 53: 'Turkey',
 54: 'USA',
 55: 'Uganda',
 56: 'United Arab Emirates',
 57: 'United Kingdom',
 58: 'Uruguay'}

In [57]:
data

,world_rank,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score
0,1,54,1,7,9,1,1,1,1,496.6995,5,100.00
1,2,54,2,9,17,3,12,4,4,496.6995,1,91.67
2,3,54,3,17,11,5,4,2,2,496.6995,15,89.50
3,4,57,1,10,24,4,16,16,11,496.6995,50,86.17
4,5,54,4,2,29,7,37,22,22,496.6995,18,85.21
...,...,...,...,...,...,...,...,...,...,...,...,...
2195,996,37,7,367,567,218,926,845,812,969.0000,816,44.03
2196,997,14,4,236,566,218,997,908,645,981.0000,871,44.03
2197,998,4,18,367,549,218,830,823,812,975.0000,824,44.03
2198,999,48,40,367,567,218,886,974,812,975.0000,651,44.02
2199,1000,8,83,367,567,218,861,991,812,981.0000,547,44.02

In [61]:
y = data['world_rank']
X = data.drop('world_rank' , axis = 1)

In [62]:
scaler = StandardScaler()
X = pd.DataFrame(scaler.fit_transform(X) , columns = X.columns)

In [63]:
X

,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score
0,1.035555,-0.759305,-2.199214,-1.864211,-2.777926,-1.511102,-1.512871,-1.560375,2.078379e-16,-1.563683,6.727841
1,1.035555,-0.739974,-2.182808,-1.821370,-2.746694,-1.474881,-1.502979,-1.549025,2.078379e-16,-1.578285,5.654255
2,1.035555,-0.720642,-2.117185,-1.853501,-2.715462,-1.501224,-1.509574,-1.556592,2.078379e-16,-1.527178,5.374581
3,1.191751,-0.759305,-2.174605,-1.783884,-2.731078,-1.461710,-1.463409,-1.522540,2.078379e-16,-1.399410,4.945405
4,1.035555,-0.701311,-2.240229,-1.757109,-2.684229,-1.392561,-1.443625,-1.480922,2.078379e-16,-1.516227,4.821678
...,...,...,...,...,...,...,...,...,...,...,...
2195,0.150445,-0.643316,0.753847,1.123952,0.610775,1.534754,1.270193,1.508032,1.726883e+00,1.396881,-0.485678
2196,-1.047057,-0.701311,-0.320739,1.118597,0.610775,1.768544,1.477933,0.876190,1.770759e+00,1.597659,-0.485678
2197,-1.567710,-0.430670,0.753847,1.027560,0.610775,1.218643,1.197648,1.508032,1.748821e+00,1.426085,-0.485678
2198,0.723163,-0.005378,0.753847,1.123952,0.610775,1.403041,1.695566,1.508032,1.748821e+00,0.794547,-0.486967
2199,-1.359448,0.825876,0.753847,1.123952,0.610775,1.320721,1.751623,1.508032,1.770759e+00,0.414894,-0.486967

In [64]:
X_train , X_test , y_train , y_test = train_test_split(X , y ,train_size = 0.8)

In [65]:
model = LinearRegression()
model.fit(X_train , y_train)

LinearRegression()

In [68]:
print(f"Linear Regression R^2: {model.score(X_test , y_test)}")

Linear Regression R^2: 0.9235746853343461